.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Helvetica", sans-serif;
  font-size: calc(10px + 2vmin);
  color: black;
}
