.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Helvetica", sans-serif;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-header a {
  text-decoration: none;
  color: black;
}

.sidebar-header a {
  text-decoration-style: wavy;
  color: black;
}

.SideBar {
  width: auto;
}

.SideBarContents {
  padding: 10%;
}